{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currus</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
</head>
<body>
<form method="post">{% csrf_token %}
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="login-box register-login">
            <div class="login-form">
                <h2>Sign up</h2>
                <div class="inputBox">
                    <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username"
                           autofocus="" required="" id="id_username">
                    <span>Username</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
                    <span>Password</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
                    <span>Repeat password</span>
                    <i></i>
                </div>
                <div class="links justify-content-end">
                    <a href="{% url 'login' %}">Sign in</a>
                </div>
                <input type="submit" class="d-flex justify-content-center align-items-center" value="Register">
            </div>
        </div>
    </div>
</form>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>