{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currus</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Currus</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="nav-half d-flex justify-content-between align-items-center">
                <form action="{% url 'search_results' %}" role="search">
                    <input name="query" class="form-control  me-2 nav-search" type="search" placeholder="Search"
                           aria-label="search">
                </form>
                <a href=""><img src="{% static '/images/Heart.svg' %}" alt=""> Favorites</a>
                <a href=""><img src="{% static '/images/User.svg' %} " alt=""> Profile</a>
            </div>
        </div>
    </div>
</nav>

<div class="container main-container">
    <header>
        <div class="header-image">
            <h1>Saddle your horse</h1>
            <p class="slogan">“All of those cars were once just a dream in somebody’s head.”</p>
        </div>
    </header>

    <section class="main-filter">
        <div class="filter-main">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                            type="button" role="tab" aria-controls="nav-home" aria-selected="true">Make
                    </button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Body style
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                     tabindex="0">
                    <div class="main-filter">
                        <form action="{% url 'filter_results' %}" class="d-flex flex-wrap" name="filter">
                            <div class="label">
                                <select name="state" id="" class="main-select">
                                    <option value="New">New</option>
                                    <option value="USED">Used</option>
                                </select>
                                <label for="" class="label-main">Car state</label>
                            </div>
                            <div class="label">
                                <select name="make" id="" class="main-select">
                                    <option value="Audi">Audi</option>
                                    <option value="Lamborghini">Lamborghini</option>
                                    <option value="Hyundai">Hyundai</option>
                                    <option value="Porsche">Porsche</option>
                                    <option value="Jaguar">Jaguar</option>
                                </select>
                                <label for="" class="label-main">Make</label>
                            </div>
                            <div class="label">
                                <select name="price" id="" class="main-select">
                                    <option value="2000">2000$</option>
                                    <option value="7000">7000$</option>
                                    <option value="12000">12,000$</option>
                                    <option value="17000">17,000$</option>
                                    <option value="25000">25,000$</option>
                                    <option value="30000">30,000$</option>
                                    <option value="35000">35,000$</option>
                                    <option value="40000">40,000$</option>
                                    <option value="50000">50,000$</option>
                                    <option value="60000">60,000$</option>
                                    <option value="90000">90,000$</option>
                                    <option value="110000">110,000$</option>
                                </select>
                                <label for="" class="label-main">Price</label>
                            </div>
                            <div class="label">
                                <select name="mileage" id="" class="main-select">
                                    <option value="0">0</option>
                                    <option value="300">300</option>
                                    <option value="1000">1000</option>
                                    <option value="3000">3000</option>
                                    <option value="8000">8000</option>
                                    <option value="20000">20000</option>
                                    <option value="30000">30000</option>
                                    <option value="50000">50000</option>
                                </select>
                                <label for="" class="label-main">Mileage</label>
                            </div>
                            <button type="submit" class="main-select btn-search-main">Search</button>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                     tabindex="0">1233 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ea amet autem
                    corporis cum at dolores laborum aut eum est, aliquid, doloremque maiores id eaque quaerat debitis
                    perspiciatis exercitationem quis.
                </div>
            </div>
        </div>
    </section>

    <section class="popular-cars">
        <p class="type-car">Popular cars</p>
        <div class="container">
            <div class="row justify-content-between">
                {% for car in car_list %}
                    <div class="popular-car-card col-lg-3">
                        <img src="{{ car.picture.url }}" alt="">
                        <p class="car-info">{{ car.name }} <span
                                class="popular-type text-center">· {{ car.state }}</span></p>
                        <p class="car-price">${{ car.price }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <p class="type-car mt-3">Categories</p>
        <div class="container">
            <div class="row justify-content-between">
                {% for category in categories %}
                    <div class="category type-car mt-0 col-lg-3">{{ category }}</div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>


<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>